:root {
    --primary-color: #080846;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: #fafafa;
  color: #222;
}

main {
  max-width: 600px;
  margin: auto;
}

h1 {
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
}

fieldset {
  border: none;
  margin-bottom: 18px;
  padding: 10px;    
}

span {
    font-weight: lighter;
    color: navy;
}
legend {
  font-weight: bold;
  padding-top: 6px;
}

.features div {
  margin-bottom: 8px;
}

#products{
    width: 300px;
    height: 30px; 
}
.rating-items {
  display: flex;
  gap: 9px;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.rating-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column-reverse;
}

.rating-item .stars {
  font-size: 18px;
  cursor: pointer;
  user-select: none;
}

.rating-item input[type="radio"] {
  margin-top: 2px;
}

.date input[type="date"] {
    width: 300px;
    height: 30px; 
}

textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.name input {
  width: 300px;
  height: 30px; 
}
::placeholder{
    padding: 10px;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 14px;
}

button:hover {
  background: #0056b3;
}

footer {
  max-width: 600px;
  margin: auto;
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: white;
}

#lastModified {
    color: #fff;
}

@media screen and (max-width: 600px) {
  main {
    width: 100%;

  }

  fieldset {
    padding: 8px;
  }

  legend {
    font-size: 1rem;
  }

  #products,
  .date input[type="date"],
  .name input,
  textarea {
    width: 100%;
    height: 35px;
    font-size: 1rem;
  }

  textarea {
    height: 150px;
  }

  .rating-items {
    gap: 14px;
  }

  button {
    width: 95%;
    box-sizing: border-box;
    border-radius: 2px;
    margin-top: 10px;
  }
  .rating-items {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;

  gap: 4px;
}

.rating-item {
  display: flex;
  flex-direction: column-reverse; 
  align-items: center;
  text-align: center;
  min-width: 60px; 
}

.rating-item .stars {
  font-size: 18px;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}

.rating-item input[type="radio"] {
  margin-top: 4px;
}

  footer {
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.4;
    padding: 15px 5px;
  }
}



