@media screen and (min-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: center;
  }

  nav a {
    margin: 0 1rem;
    display: inline-block;
  }

  img {
    max-width: 200px;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .hamburger{
    display: none;
}
}